<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.boardPrograms.web.board.boarsMapper">
	<resultMap id="accessMap" type="com.boardPrograms.web.board.model.AccessVO">
		<result property="sWorkSect" column="CAMP_ID" javaType="String" jdbcType="VARCHAR"></result>
		<result property="sGrpVdn" column="CAMP_STAT_CD" javaType="String" jdbcType="VARCHAR"></result>
		<result property="sCallListName" column="SCENARIO_NAME" javaType="String" jdbcType="VARCHAR"></result>
		<result property="sPreNext" column="CAMP_NAME" javaType="String" jdbcType="VARCHAR"></result>
		<result property="iSequence" column="CAMP_COUNT" javaType="int" jdbcType="INTEGER"></result>
		<result property="sFieldName" column="GRP_VDN" javaType="String" jdbcType="VARCHAR"></result>
		<result property="sAccount" column="GRP_NAME" javaType="String" jdbcType="VARCHAR"></result>
		<result property="sText" column="TR_NAME" javaType="String" jdbcType="VARCHAR"></result>
		<result property="sFilterSect" column="CALLLIST_NAME" javaType="String" jdbcType="VARCHAR"></result>
	</resultMap>
	
	<!-- 	
	<settings>
        <setting name="jdbcTypeForNull" value="VARCHAR" />
     </settings>
	 -->
	<parameterMap type="hashmap" id="accessVoMap">
		<parameter property="accessVO" mode="OUT" javaType="java.sql.ResultSet" jdbcType="CURSOR" resultMap="accessMap" />
	</parameterMap>
	
	<select id="getAccessList" statementType="CALLABLE" parameterType="com.boardPrograms.web.board.model.Params" resultMap="accessMap">
		{call
		SP_ACS_CAMP_INFO(#{AccessVO, mode=OUT, jdbcType=CURSOR, javaType=java.sql.ResultSet, resultMap=accessMap},
		#{sWorkSect}, #{sGrpVdn}, #{sCallListName}, #{sPreNext}, ${iSequence}, #{sFieldName}, #{sAccount}, #{sText},
		#{sFilterSect})
		}
	</select>
	
</mapper>